@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Playfair+Display:wght@400..900&display=swap");
.tenSongsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  max-width: 600px;
  gap: 1rem;
  margin: 2rem auto auto auto;
  padding: 1rem;
}
.tenSongsContainer .song {
  color: white;
  height: 30px;
  background-color: #4DB039;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}
.tenSongsContainer :hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .tenSongsContainer {
    grid-template-columns: 1fr;
  }
  .tenSongsContainer .song {
    width: 75%;
    margin: auto;
  }
}
.WelcomeToSing {
  background-color: #232323;
  padding: 1rem;
  border-radius: 10px;
  max-width: 1000px;
  margin: 4.8rem auto;
}
.WelcomeToSing .WelcomeToSingHeader {
  color: white;
  text-align: center;
  max-width: 600px;
  margin: auto;
}
.WelcomeToSing .WelcomeToSingHeader h1 {
  font-size: 40px;
  font-family: "Anton SC", sans-serif;
}
.WelcomeToSing footer {
  margin-top: 10px;
}
.WelcomeToSing footer span {
  font-weight: bold;
}

.header {
  background-color: #232323;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}
.header img {
  display: block;
  width: 80%;
}
.header :hover {
  cursor: pointer;
}
.header ul {
  display: flex;
}
.header ul li {
  list-style: none;
  margin: 0 1rem;
}
.header ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.header ul li :hover {
  color: #4DB039;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem;
  }
  .header img {
    width: 100%;
  }
  .header ul {
    background-color: #131313;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px white solid;
    flex-direction: column;
  }
  .header ul li {
    margin: 0.5rem 0;
  }
  .header ul li a {
    padding: 0.2rem;
    display: block;
    width: 100%;
  }
}
html {
  position: relative;
}

.mainFooter {
  background-color: #232323;
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
}
.mainFooter section {
  display: flex;
  justify-content: space-between;
  color: #f5f5f5;
  align-items: center;
  margin: 0 4rem;
}
.mainFooter p:nth-child(2) {
  color: #337027;
  font-size: 4rem;
  font-family: "Anton SC", sans-serif;
}

@media screen and (max-width: 1110px) {
  .mainFooter section {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .mainFooter p:nth-child(2) {
    font-size: 2rem;
  }
}
.artistsContainer {
  padding: 2rem 4rem;
  margin: 2rem 6rem;
  color: white;
  border-radius: 20px;
  background-color: #232323;
}
.artistsContainer header h2 {
  font-size: 2rem;
  font-weight: bold;
}
.artistsContainer .artist {
  width: 800px;
  margin: 1rem auto;
}
.artistsContainer figure {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.artistsContainer figure img {
  width: 300px;
  height: 300px;
}

.albumContainer {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 1rem auto;
}
.albumContainer .album {
  background-color: #131313;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1rem;
}
.albumContainer .album span {
  font-weight: bold;
  font-size: 1.2rem;
}
.albumContainer .album p:nth-child(2) {
  color: #fcfcfc;
}
.albumContainer h3 {
  font-size: 1.8rem;
}
.albumContainer figure img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

@media (max-width: 764px) {
  .artistsContainer {
    padding: 1rem;
    margin: 1rem;
  }
  .artistsContainer header h2 {
    font-size: 1.5rem;
  }
  .artistsContainer .artist {
    width: 400px;
    text-align: center;
  }
  .artistsContainer figure {
    flex-direction: column;
  }
  .artistsContainer figure img {
    width: 500px;
    height: 500px;
  }
  .albumContainer {
    flex-direction: column;
    width: 500px;
  }
  .albumContainer .album span {
    font-size: 1rem;
  }
  .albumContainer .album p:nth-child(2) {
    font-size: 1rem;
  }
  .albumContainer h3 {
    font-size: 1.5rem;
  }
  .albumContainer figure img {
    width: 100%;
  }
}
.songs-main-container {
  padding: 2rem 4rem;
  margin: 2rem 6rem;
  background-color: #232323;
  border-radius: 20px;
}

.songs-length {
  color: #fcfcfc;
}
.songs-length span {
  font-weight: bold;
  font-size: 1.1rem;
}

.songs-container {
  color: white;
}
.songs-container .song-info {
  background-color: #4DB039;
  display: inline-block;
  width: 300px;
  padding: 0.5rem;
  border-radius: 20px;
  text-align: center;
  margin: 0.6rem 0;
}

.input-container {
  display: flex;
  background-color: white;
  width: 220px;
  padding: 0.4rem;
  margin: 0.4rem 0;
  border-radius: 20px;
}
.input-container img {
  width: 20px;
  height: 20px;
}
.input-container input {
  border: none;
  margin-left: 0.2rem;
  width: 100%;
}
.input-container :focus {
  outline: none;
}

.songs-description {
  color: white;
  text-align: center;
  margin: auto;
  max-width: 800px;
}
.songs-description header {
  margin: 1rem 0;
  font-size: 1.5rem;
}
.songs-description p {
  margin: 1rem 0;
}
.songs-description span {
  font-weight: bold;
}

@media (max-width: 764px) {
  .songs-main-container {
    padding: 0;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #232323;
    border-radius: 20px;
  }
  .songs-container .song-info {
    max-width: 300px;
  }
  .input-container {
    max-width: 300px;
    margin: 0.5rem auto;
  }
  .songs-description header {
    font-size: 1.2rem;
  }
}
.artistsPageContainer {
  padding: 2rem 4rem;
  margin: 2rem 6rem;
  background-color: #232323;
  border-radius: 20px;
  color: white;
}
.artistsPageContainer .artist-info {
  color: white;
  margin: auto;
  max-width: 800px;
}
.artistsPageContainer .artist-info header {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.5rem;
}
.artistsPageContainer .artist-info article {
  text-align: center;
}
.artistsPageContainer .artist-info p {
  margin: 1rem 0;
}
.artistsPageContainer .artist-info span {
  font-weight: bold;
}

.artist-item figure {
  position: relative;
  padding: 1rem;
  background-color: #131313;
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0;
  border-radius: 20px;
}
.artist-item img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  display: block;
  aspect-ratio: 1/1;
}
.artist-item footer {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  margin-right: 1rem;
}
.artist-item footer a {
  text-decoration: none;
  color: white;
  background-color: #4DB039;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

@media (max-width: 764px) {
  .artistsPageContainer {
    padding: 1rem;
    margin: 1rem;
  }
  .artist-item figure {
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 2rem;
  }
  .artist-item img {
    width: 100%;
    height: auto;
  }
  .artist-item footer {
    bottom: 1.5rem;
  }
}
.loginContainer {
  padding: 2rem 4rem;
  margin: 2rem 6rem;
  background-color: #232323;
  border-radius: 20px;
  color: white;
}
.loginContainer header {
  font-size: 1.6rem;
}
.loginContainer article {
  width: 900px;
  margin: 0.8rem 0;
}
.loginContainer .userName {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.loginContainer .userName input {
  width: 200px;
  padding: 0.4rem;
  border-radius: 20px;
  border: none;
}
.loginContainer .userName :focus {
  outline: none;
}
.loginContainer .userPassword {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.loginContainer .userPassword input {
  width: 200px;
  padding: 0.4rem;
  border-radius: 20px;
  border: none;
}
.loginContainer .userPassword :focus {
  outline: none;
}
.loginContainer button {
  padding: 0.5rem 2rem;
  border-radius: 20px;
  color: white;
  background-color: #4DB039;
  border: none;
  margin: 1rem 0;
}
.loginContainer :hover {
  cursor: pointer;
}
.loginContainer .passwordNewuser {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.loginContainer .passwordNewuser a {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131313;
}/*# sourceMappingURL=main.css.map */