@use "../../../../css/Global" as g;

.tenSongsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    max-width: 600px;
    gap: 1rem;
    margin: 2rem auto auto auto;
    padding: 1rem;
    .song {
        color: white;
        height: 30px;
        background-color: g.$ligthGreen;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s, box-shadow 0.2s;
    }:hover{
        cursor: pointer;
    }
}


@media(max-width: 768px) {
    .tenSongsContainer {
        grid-template-columns: 1fr;
        .song{
            width: 75%;
            margin: auto;
        }
    }
    
}